---
- name: Install php-fpm and deps 
  apt: pkg={{ item }} state=latest
  with_items:
    - php5
    - php5-cli
    - php5-fpm
    - php5-mcrypt
    - php5-uuid
    
- name: Install appropriate pool configuration
  template: src=www.conf dest=/etc/php5/fpm/pool.d/www.conf
  notify: restart php-fpm